{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style2.css" >
</head>

<body>
    <div class="login-form">
        <h1>Login Page</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="fullname" placeholder="User Name">
            <p>Password</p>
            <input type="password" name="pass" placeholder="password">

            <p id="messages"></p>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="{% url 'signuppage' %}" class="ml-2" style="color:red ;">Sign Up</a>
                </div>
                <a href="{% url 'loginpage' %}"><button type="submit">Login</button></a>

        </form>
    </div>

</body>

</html>