{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'style3.css' %}">
</head>

<body>
    <div>
        <form action="/signuppage" class="container" method="POST">
            {% csrf_token %}
            <h2>Name</h2> <input type="text" name="fullname" id="fullname" placeholder="enter fullname" required>
            <h2>Age</h2>  <input type="number" name="age" id="age" placeholder="enter age" required>
            <h2>Email</h2> <input type="email" name="mail" id="mail" placeholder="enter email" required>
            <h2>Create Password</h2> <input type="password" name="pass" id="pass" placeholder="enter password" required>
            <h2>Confirm Password</h2> <input type="password" name="paas" id="paas" placeholder="confirm password" required><br>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label>
              <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <br>
            <div class="clearfix">
                <button type="reset" class="cancelbtn">Reset</button>
                 <a href="{% url 'loginpage'%}"> <button class="btn btn-primary" >Signup</button> </a>
              </div>
        </form>
        <img src="{% static 'new.jpg' %}" alt="" align="left" width="990px" height="700px">
    </div>
    
</body>
</html>